@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@700&display=swap');

body {
    background-color: rgb(250, 250, 250);
    font-family: 'Lato', sans-serif;
    color: #373A40;
    font-size: 16px;
    line-height: normal;
}

h1 {
    color: #213E3b;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

h2 {
    color: #686D76;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

a {
    color: #89d7dd;
    text-decoration: none;
}

a:hover {
    color: #27323a;
    cursor: pointer;
}

i {
    font-size: 40px;
}

.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.card-white {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 2%;
    box-shadow: 1px 1px 2px grey;
    padding: 35px;
    margin: 20px;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.btn-teal {
    background-color: teal;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.btn-teal:hover {
    background-color:#27323a;
    color: white;
}

#introduction p {
    margin: 30px 20px;
}

#follow-links h2 {
    color: #3e92a3;
    font-size: 20px;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
}

@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */
    .container {
        width: 500px;
    }
}

@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
    .container {
        width: 300px;
    }

    body {
        font-size: 12px;
    }

    .btn-teal {
       font-size: 12px;
    }
    
    .img-circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .list-inline > li {
        display: inline-block;
        padding: 0px 7px;
    }

    i {
        font-size: 30px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }
}
